
@{
    ViewBag.Title = "ordersPage";
}

<h2>OrdersPage</h2>

@section featured
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <% foreach (var m in ViewData.Model)
            { %>

            Title: <%= m.userId %>
            <br />
            Director: <%= m.deliveredDate %>
            <br />
            Director: <%= m.countPZ %>
            <br />
            <hr />
            <% } %>



        </div>
    </section>
}

